
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 220px 0;
}

.card-card {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card img {
    width: 100%;
    height: 160px;
    margin: 0 45px 0 0;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.card {
    width: 75%;
    height: 260px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px 30px 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    padding: 0;
    text-align: start;
    
}

.card-info{
    margin: 0 5px;
    max-width: 100%;
    max-height: 30%;
}

.card-title {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    margin-right: auto;
    gap: 25px;
    text-align: start;
    display: flex;
}

.card-title span{
    font-weight: lighter;
    font-size: 12px;
    margin-left: auto;
    color: #c44404;
    margin: 0;
}

.card-location {
    font-size: 12px;
    color: #555;
    margin: 0;
    text-align: start;
}

.card-rating span{
    font-size: 12px;
    margin: 0;
    color: #f39c12;
    text-align: start;
}

.card-rating{
    margin: 5px 0 0 0;
}

