* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: Poppins;
  color: #333;
  background-color: white;
}

.navbar {
  position: fixed;
  width: 110%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.logo img {
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

button.nama {
  background-color: white;
  color: #242277;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
}

.hero-content {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
}

.hero-text {
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 50px;
  width: 480px;
}

h1 {
  text-align: left;
  font-size: 48px;
  margin-bottom: 20px;
  color: #242277;
}

h1 span {
  color: #fa9a0a;
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.btn-explore {
  font-weight: 600;
  font-size: 18px;
  width: 120px;
  margin-top: 50px;
  background-color: #242277;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.hero-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 800px;
  width: 865px;
}

.hero-images img {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.features {
  margin-top: 50px;
  padding: 100px;
  background-color: #fff;
}

.features-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.features-text {
  margin-top: 60px;
  margin-right: 50px;
  width: 500px;
}

.features-text p {
  margin-left: 0px;
  padding: 0;
  font-size: 32px;
  color: #fa9a0a;
}

h2 {
  font-size: 24px;
  color: #242277;
  margin-left: 0;
  margin-bottom: 20px;
}

.features-cards {
  display: flex;
  gap: 100px;
}

.features-card {
  width: 300px;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 250px;
}

.features-card img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-bottom: 15px;
  margin-top: 35px;
}

.features-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.features-card p {
  font-size: 14px;
  line-height: 1.5;
}

.top {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
  padding-left: 20px;
}
.slider-container {
  margin: 80px;
  margin-bottom: 250px;
}

.judul p {
  margin: 0px;
  color: #242277;
  font-size: 32px;
}

.judul h2 {
  font-size: 24px;
  color: #fa9a0a;
  margin-bottom: 15px;
}
.slider-controls button {
  font-size: 20px;
  width: 50px;
  margin: 10px;
  background-color: #5d50c6;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button:hover {
  background-color: #4834d4;
}

.slider {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.card {
  width: 350px;
  height: 552px;
  margin: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.card img {
  width: 350px;
  height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info {
  padding: 15px;
}

.card-info p {
  margin: 0px;
}
.card-info .price {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #f85e9f;
  font-weight: bold;
}

.card-info .rating {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.star {
  color: orange;
  margin-left: 5px;
}

.slider-controls {
  margin-top: 20px;
}

.fasilitas {
  display: flex;
  margin: 90px;
}

.gambarkiri {
  position: relative;
  top: 0;
  left: 0;
}
.img1 {
  position: relative;
  top: 0;
  left: 0;
}
.img2 {
  position: absolute;
  z-index: -1;
  top: -280px;
  left: -30px;
}

.kontenkanan {
  margin-left: 250px;
}

.kontenkanan .teks h2 {
  color: #f85e9f;
  font-size: 23px;
  font-style: bold;
}

.kontenkanan .teks h1 {
  color: #242277;
  font-size: 36px;
  font-weight: 400;
  font-style: bold;
}

.angka {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.angka p {
  justify-content: center;
  text-align: center;
  margin: 20px;
  margin-right: 50px;
  color: #ff5722;
  font-size: 34px;
  font-weight: bolder;
}

.angka span {
  color: #191825;
  font-size: 18px;
  font-weight: 300;
}

.promo {
  display: flex;
  margin: 80px;
}

.kontenteks {
  margin-top: 10px;
  margin-bottom: 20px;
}

.kontenteks h1 {
  font-size: 48px;
  font-weight: 600;
}

.kontenteks p {
  color: #242277;
  display: inline-block;
  width: 600px;
  text-align: justify;
  font-size: 18px;
}

.keunggulan h2 {
  color: #242277;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}

.keunggulan p {
  color: #242277;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.gambarkanan {
  margin-left: 20px;
}

.gambar1 {
  position: relative;
  top: 0;
  left: 0;
}

.gambar2 {
  position: absolute;
  right: 110px;
  top: 3400px;
  border: 5px solid gray;
  border-radius: 20px;
}

.gambar3 {
  position: absolute;
  right: 330px;
  top: 3400px;
  border: 5px solid gray;
  border-radius: 20px;
}

.gambar4 {
  position: absolute;
  right: 45px;
  top: 3050px;
  z-index: -1;
}

.footer-content .nav .nav-item a {
  font-weight: 500;
  font-size: 14px;
}

footer {
  background-color: white;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-contact,
.footer-social-media {
  flex-basis: 45%;
}

.footer-contact h2,
.footer-social-media h2 {
  margin-bottom: 10px;
}

.footer-social-media a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
}

.footer-copyright p {
  margin: 0;
}
