/**header*/
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #242277
}

.explore-button {
  margin-left: auto;
  padding: 6px 15px;
  background-color: #242277;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

/****/
  *{
    padding: 0;
    margin: 10px 15px;
    color: #242277;
}



.hero {
  position: relative;
  text-align: center;
  color: #242277;
  
}

.hero img {
  width: 100%;
  height: auto;
}

.hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.205));
}

.blur-box {
  position: absolute;
  height: 150px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff39;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 4px rgba(166, 158, 158, 0.745);
  padding: 25px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  border-radius: 10px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  color: #242277;
  margin: 0px 5px -6px 5px;
  justify-content: center;
  align-items: center;
}

.feature p {
  width: 200px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.popular {
  text-align: center;
  margin: 200px;
}

.popular h2 {
  margin-bottom: 50px;
  color: #242277;
  border-bottom: #0000002a ;
}

.yellow-text{
 
  color: #ffcc00;
}

.places {
  display: flex;
  justify-content: space-around;
}

.place {
  text-align: center;
  padding: 20px;
}

.place img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 13%;
  
}

.blog {
  text-align: left;
  padding: 20px 0;
}

.pp-blog{
  display: flex;
  align-items: center;
}

.pp-blog a{
  color: #242277;
  text-align: end;
  justify-content: right;
  margin-left: auto;

}



.blog h2 {
  text-align: left;
  color: #242277;
  font-size: 48px;
  margin: 0;
  padding: 0;
}

.blog-posts {
  display: flex;
  
}

.blog-posts img{
  width: 500px;
  margin: 0 0 0 0;
}

.artikel{
  margin: 0 10px 0 0;
}

.blog-artikel {
  display: flex;
  padding: 10px;
  margin: 0 0 0 0;
}

.blog-artikel img{
  width: 200px;
  margin:0 0px 0 0;
}

.blog-text{
  margin: 0 ;
  font-size: 12px;
}

.blog-tag{
  position: absolute;
}


  .tag{
      position: absolute;
      font-size: 15px;
      padding: 0 15px;
      margin: 0;
      background-color: #ffffffb2;
      border-radius: 20px;
      font-size: 18px;
      text-align: center;
      align-items: center;
      justify-content: center;
  }

  .eksplor-border{
      width: auto;
      border: 1px solid #ffcc00;
      border-radius: 20px;
      margin: 100px;
      z-index: -5;
  }
  .eksplor{
      width: auto;
      height: auto;
      margin: 0 15px -30px -15px;
      padding: 0 0;
      background: rgb(255, 255, 255);
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.213);
  }

  .blog-eksplor{
      width: 400px;
      margin: 100px 0 0 100px;
      text-align: left;
  }

  .blog-eksplor h2{
      color: #242277;
      width: 360px;
  }

  .gradient-border{
  padding: 1rem;
  width: 380px;
  height: 170px;
  margin:250px 0 250px 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background: linear-gradient(#dadada, #d3d3d3),
      padding-box,
      linear-gradient(22deg, #ffcc00, #242277, #ff8000) border-box;
  border: 5px solid transparent;
  border-radius: 20px;
  }

  .gradient-border img{
      position: absolute;
      width: 250px;
      height: auto;
  }


    .footer-content .nav .nav-item a{
    font-weight: 500;
    font-size: 14px;
    
    }