* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #242277;
}

.container {
  width: 100%;
  display: flex;
  max-width: 850px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.login {
  width: 300px;
}

form {
  width: 470px;
  margin-top: 50px;
  margin-left: 60px;
  border: 1px solid #242277;
  border-radius: 20px;
  padding: 50px;
}

h1 {
  color: #242277;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 15px;
}

p {
  padding-top: 10px;
  margin: 10px;
}

.right img {
  width: 750px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

form img {
  margin-left: 125px;
  margin-bottom: 30px;
}

input {
  width: 370px;
  margin: 2px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #242277;
}

button {
  border: none;
  outline: none;
  padding: 8px;
  width: 370px;
  color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  background: #242277;
}

button:hover {
  background: #030221;
}
